src/main/resources/META-INF/xml/XMLSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="jahia-edp-activities">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activity" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int"></xs:element>
                            <xs:element name="name" type="xs:string"></xs:element>
                            <xs:element name="distance" type="xs:double"></xs:element>
                            <xs:element name="type" type="xs:string"></xs:element>
                            <xs:element name="moving_time" type="xs:string"></xs:element>
                            <xs:element name="start_date" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>